.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: self-start;
  padding: 1rem;
}

.list-clients {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 2fr));
  grid-gap: 1rem;
}

.list-clients .container-client {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.3s;
}

.is-active {
  border: 1px solid #006b00;
}

.list-clients .container-client .client-image {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.list-clients .container-client .description {
  position: absolute;
  height: 100%;
  opacity: 0;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  color: #ffffff;
  cursor: pointer;
  background: #006b00;
  border-radius: 50%;
  transition: 0.2s;
}

.list-clients .container-client:hover .description {
  opacity: 1;
}

.list-clients .container-client .description:focus {
  opacity: 1;
}

.list-clients .container-client:hover .client-image {
  opacity: 0.3;
}

.list-clients .container-client:hover {
  transform: translate(0, -10px);
}
